.venv/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pth
Unit_0/PrepData/
Unit_1/PrepData/
Unit_1/data
Unit_1/FIDS30.zip
Unit_2/PrepData/
Unit_2/data
Unit_2/FIDS30.zip
Unit_2/ensemble_*/
Unit_3/PrepData/
Unit_3/data
Unit_3/FIDS30.zip
